<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
  <select id="selectUser" resultType="hashMap">
    select * from test.사용자
  </select>
  <insert id="insertBoard" parameterType="hashmap">
  	insert into test.board (title, content, regUser) values (#{title}, #{content}, #{regUser})
  </insert>
  <select id="selectBoard" parameterType="hashmap" resultType="hashMap">
  	select * 
  	from test.board
	where regUser = #{regUser}
  </select>
  <select id="selectBoardOne" parameterType="hashmap" resultType="hashMap">
  	select * 
  	from test.board
	where regUser = #{regUser}
  	  and boardNo = #{boardNo} 
  </select>
</mapper>